{% extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - home{% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          Curso de Python com Luciano Ramalho 
          alterado - 18/04
        </h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-header">
              Mais detalhes sobre o instrutor
              alterado - 18/04            </h5>
            <div class="card-body">
              <p class="card-text">
                <img src="{% static 'img/LucianoRamalho.jpeg' %}"  class="img-thumbnail float-left mr-3" alt="fotografia do Luciano Ramalho">
                Luciano Ramalho é programador Python desde 1998, Fellow da Python Software Foundation; 
                é sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker Clube,
                 o primeiro hackerspace do Brasil. Tem liderado equipes de desenvolvimento de software e 
                 ministrado cursos sobre Python em empresas de mídia, bancos e para o governo federal.
                 Autor do livro <a href="https://pythonfluente.com/" target="_blank">Python Fluente</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
